.columnContainer{
    float: left;
    width: 50%;
}

.sourcecode{
  position: relative;
  border-radius: 25px;
  border: 2px solid;
  background-color: #beddf0;
  padding: 20px;
  width: 90%;
  margin: 0;
  font-family: "Lucida Console";
}

.components{
  font-size: 32px;
}

.correctComponent{
  position: relative;
  border-radius: 25px;
  display: inline-block;
  border: 2px solid #66e766;
  padding: 20px;
  width: 40%;
  height: 80px;
  margin: 0;
  font-family: "Lucida Console";
}

.wrongComponent{
  position: relative;
  border-radius: 25px;
  display: inline-block;
  border: 2px solid #eb4040;
  padding: 20px;
  width: 40%;
  height: 80px;
  margin: 0;
  font-family: "Lucida Console";
}

.rule
{
  position: relative;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  width: 90%;
  margin-top: .5rem;
  font-family: "Lucida Console";
}
.titleText {
  font-size: 2rem;
  margin-bottom: -1rem;
  text-align: center;
}
.entirePage {
  max-width: 1000px;
  margin: auto;
}

#rcorners {
    border-radius: 25px;
    border: 2px solid #227db3;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  h1{
    font-size: 32px;
  }

  h2{
    font-style: italic;
    font-size: 20px;
  }